.wrapper {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  background: #DB7B5D;
  height: 91px;
  width: 100%;  

  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  font-size: 48px;
  line-height: 58px;

  white-space: nowrap;

  color: #FFFFFF;
}

.catalog {
  display: flex;
  justify-content: center;
}


